* {
    font-family: 'Lato', sans-serif;
}

body {
 background: dodgerblue;
 text-align: center;
}

p#userInput {
    margin-top: 40px;  
}

button {
    color: hotpink;
}
p#output {
    word-spacing: 10px;  
}